body {
    text-align: center;
}

.win{
  display: none;
  border: solid 1px;
  background-color: #DDA0DD;
  padding: 25px 0 0 0;
  font-family: 'Satisfy', cursive;
  font-size: 50px;

}

.pink{
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}


@-moz-keyframes spin { 100%
  { -moz-transform: rotate(360deg);
    }
  }
@-webkit-keyframes spin { 100%
  { -webkit-transform: rotate(360deg);
    }
  }
@keyframes spin { 100%
  { -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
    }
  }
